<div style="margin: 100px">
  <div class="e-avatar e-avatar-xlarge e-avatar-circle">
    <img src="https://ej2.syncfusion.com/demos/src/avatar/images/pic01.png" />
  </div>
  <div class="e-avatar e-avatar-large e-avatar-circle">
    <img src="https://ej2.syncfusion.com/demos/src/avatar/images/pic01.png" />
  </div>
  <div class="e-avatar e-avatar-circle">
    <img src="https://ej2.syncfusion.com/demos/src/avatar/images/pic01.png" />
  </div>
  <div class="e-avatar e-avatar-small e-avatar-circle">
    <img src="https://ej2.syncfusion.com/demos/src/avatar/images/pic01.png" />
  </div>
  <div class="e-avatar e-avatar-xsmall e-avatar-circle">
    <img src="https://ej2.syncfusion.com/demos/src/avatar/images/pic01.png" />
  </div>
</div>
